In [2]:

import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:

df = pd.read_csv("/content/drive/MyDrive/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:

df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [6]:


inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [7]:


dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [8]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [9]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [10]:

inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [11]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [12]:

inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [13]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [15]:


from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [17]:

model.fit(X_train,y_train)

GaussianNB()

In [18]:
model.score(X_test,y_test)

0.7574626865671642

In [19]:
X_test[0:10]

     Pclass        Age     Fare  female
105       3  28.000000   7.8958       0
451       3  29.699118  19.9667       0
123       2  32.500000  13.0000       1
853       1  16.000000  39.4000       1
289       3  22.000000   7.7500       1
487       1  58.000000  29.7000       0
368       3  29.699118   7.7500       1
46        3  29.699118  15.5000       0
639       3  29.699118  16.1000       0
553       3  22.000000   7.2250       0

In [20]:
model.predict(X_test[0:10])

array([0, 0, 1, 1, 1, 0, 1, 0, 0, 0])

In [21]:
model.predict_proba(X_test[:10])

array([[0.96636606, 0.03363394],
       [0.96670585, 0.03329415],
       [0.2086168 , 0.7913832 ],
       [0.04059119, 0.95940881],
       [0.33316707, 0.66683293],
       [0.75894095, 0.24105905],
       [0.35721133, 0.64278867],
       [0.96723257, 0.03276743],
       [0.96719112, 0.03280888],
       [0.96331038, 0.03668962]])

In [22]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.752     , 0.76      , 0.864     , 0.79032258, 0.75806452])